version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: local-review-mysql
    environment:
      MYSQL_ROOT_PASSWORD: "8888.216"
      MYSQL_DATABASE: local_review_go
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-net

  redis:
    image: redis:latest
    container_name: local-review-redis
    command: redis-server --requirepass "8888.216"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-net

volumes:
  mysql_data:
  redis_data:


networks:
  app-net:
    driver: bridge
